

:root {
    --color-primary: #A3B494;
    --color-dark-primary: #636e59;
    --color-grey-background: #EFF1F0;
}


@font-face {
  font-family: "ViaodaLibre";
  src: url("/fonts/ViaodaLibre-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SofiaSans";
  src: url("/fonts/SofiaSansExtraCondensed-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

*{
  list-style-type: none;
  font-family: SofiaSans;
  letter-spacing: 1.3px;
  line-height: 120%;
  font-size: 20px;
  color: var(--color-primary)
}

.secondary-font{
  font-family: ViaodaLibre;
  letter-spacing: 0px;
}

a{
  text-decoration: none !important;
  color: inherit !important;
}

strong{
  font-size: 25px;
  color: var(--color-dark-primary);
}


li{
  cursor: pointer;
  font-size: 22px;
  color: var(--color-dark-primary);
}

.btn{
  transition: 0.7s !important;
}

.btn:hover{
  background-color: var(--color-dark-primary) !important;
}

.animation{
  transition: 0.7s !important;
}


.scrollToTop{
  position: fixed;
  bottom: 50;
  right: 50;

  background-color: unset !important;
  
}

.scrollToTop i{
  color: #fff;
  background-color: var(--color-primary);
  border: 1px solid #fff !important;
  padding: 10px;
  width: 100%;
  height: 100%;
}


.scaleUp{
  transform: scale(1);
  transition: 0.7s !important;
}

.scaleUp:hover{
  transform: scale(1.2);
  transition: 0.7s !important;
}


.background{
  background-image: url("/images/welcome.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.grey_bg{
  background-color: var(--color-grey-background);
}
.primary_bg{
  background-color: var(--color-primary);
}
.dark_bg{
  background-color: var(--color-dark-primary);
}
.primary_text{
  color: var(--color-primary)
}
.dark_primary_text{
   color: var(--color-dark-primary)
}


.avatar{
  border-radius: 100%;
  width: 200px;
  height: 200px;
  border: 3px solid var(--color-dark-primary);
  object-fit: cover;
}

.white-text{
  color: #ffffff;
}

.fullheight{
  height: 100%;
  display: flex;
  align-items: center;
}

.formValidationMessage{
  color: #ff7575;
  font-size: 17px;
}

.contact_circle{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px;
  background-color: var(--color-primary);
  border-radius: 100%;
  margin-bottom: 20px;
}

.contact_circle i {
  color: #fff;
  font-size: 30px;
  margin-bottom: -5px;
}

.ellipse {
  margin-top: 0px;
}


.serviceIcon{
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serviceIcon i {
  color: var(--color-primary);
  font-size: 30px;
}

/* MODAL */

.modal-content{
  border-radius: 3px !important;
}

.modal-header{
  border-bottom: none !important;
}

.modal-header .btn-close{
  font-size: 10px;
}

.modalButton{
  background-color: var(--color-primary) !important;
  border: none !important;
}

.modal-footer{
  border-top: none !important;
  justify-content: flex-start !important;
}

/* DESKTOP */
@media screen and ( min-width: 768px ){
    
  .fullheight{
      height: 100%;
      min-height: 100vh;
      display: flex;
      align-items: center;
  } 

  .avatar{
    width: 300px;
    height: 300px;
  }
  .ellipse {
    margin-top: -100px;
  }

  .serviceTitle{
    height: 90px;
    display: flex;
    align-items: center;
  }


}

::-webkit-scrollbar{
  width: 7px;
  height: 7px;
  border-radius: 20px;
}

::-webkit-scrollbar-track{
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background: var(--color-primary);
}
    
::-webkit-scrollbar-thumb:hover{
  background: var(--color-dark-primary);
}
    